[Desktop Entry]
Name[ar]=مثبت Andiora (تجريبي)
Name[da]=Andiora-installationsprogram (beta)
Name[de]=Andiora-Installer (Beta)
Name[el]=Εγκαταστάτης Andiora (Βήτα)
Name[en_GB]=Andiora Installer (Beta)
Name[en_US]=Andiora Installer (Beta)
Name[es]=Instalador de Andiora (Beta)
Name[fi]=Andiora-asennusohjelma (beta)
Name[fr]=Installateur Andiora (Bêta)
Name[hi]=Andiora इंस्टॉलर (बीटा)
Name[id]=Pemasang Andiora (Beta)
Name[it]=Installatore di Andiora (Beta)
Name[ja]=Andiora インストーラー（ベータ版）
Name[ko]=Andiora 설치 프로그램 (베타)
Name[nl]=Andiora-installatieprogramma (Bèta)
Name[pl]=Instalator Andiora (Beta)
Name[pt]=Instalador do Andiora (Beta)
Name[pt_BR]=Instalador do Andiora (Beta)
Name[ro]=Andiora Installer (Beta)
Name[ru]=Установщик Andiora (Бета-версия)
Name[sv]=Andiora Installationsprogram (Beta)
Name[th]=โปรแกรมติดตั้ง Andiora (เบต้า)
Name[tr]=Andiora Yükleyici (Beta)
Name[uk]=Інсталятор Andiora (Бета-версія)
Name[vi]=Trình cài đặt Andiora (Beta)
Name[zh_CN]=Andiora 安装程序（测试版）
Name[zh_HK]=Andiora 安裝程式（Beta）
Name[zh_TW]=Andiora 安裝程式（測試版）
Name=Andiora Installer (Beta)
Comment[ar]=قم بتثبيت Andiora على جهاز الكمبيوتر الخاص بك
Comment[da]=Installer Andiora på din computer
Comment[de]=Installiere Andiora auf deinem Computer
Comment[el]=Εγκαταστήστε το Andiora στον υπολογιστή σας
Comment[en_GB]=Install Andiora on your computer
Comment[en_US]=Install Andiora on your computer
Comment[es]=Instalar Andiora en tu computadora
Comment[fi]=Asenna Andiora tietokoneeseesi
Comment[fr]=Installer Andiora sur votre ordinateur
Comment[hi]=अंडीनओएस को अपने कंप्यूटर में इंस्टॉल करें
Comment[id]=Instal Andiora ke komputer Anda
Comment[it]=Installa Andiora sul tuo computer
Comment[ja]=Andioraをコンピューターにインストールする
Comment[ko]=컴퓨터에 Andiora 설치하기
Comment[nl]=Installeer Andiora op uw computer
Comment[pl]=Zainstaluj Andiora na swoim komputerze
Comment[pt]=Instale o Andiora no seu computador
Comment[pt_BR]=Instale o Andiora no seu computador
Comment[ro]=Instalează Andiora pe calculatorul tău
Comment[ru]=Установите Andiora на ваш компьютер
Comment[sv]=Installera Andiora på din dator
Comment[th]=ติดตั้ง Andiora ลงในคอมพิวเตอร์ของคุณ
Comment[tr]=Andiora'u bilgisayarınıza yükleyin
Comment[uk]=Встановіть Andiora на ваш комп'ютер
Comment[vi]=Cài đặt Andiora vào máy tính của bạn
Comment[zh_CN]=将 Andiora 安装到您的计算机
Comment[zh_HK]=將 Andiora 安裝至您的電腦
Comment[zh_TW]=將 Andiora 安裝到您的電腦
Comment=Install Andiora to your computer
Exec=/usr/bin/andiora-installer-beta
Icon=andiora-installer-beta
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
StartupWMClass=com.andiora.InstallerBeta
