[Desktop Entry]
Type=Application
Name=Disk Snapshots Manager Notifications
Name[zh_CN]=Disk Snapshots Manager 通知
Comment=Show system snapshot notifications
Comment[zh_CN]=显示快照通知
Exec=/usr/bin/systemctl --user start --no-block andiora-btrfs-snapshots-manager-notifier.service
Icon=org.andiora.BtrfsSnapshotsManager
Terminal=false
NoDisplay=true
OnlyShowIn=GNOME;
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Applications
