<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Andiora</vendor>
  <vendor_url>https://www.andiora.com</vendor_url>
  <action id="com.andiora.DriverCenter.manage-drivers">
    <description>Install and repair hardware drivers</description>
    <description xml:lang="zh_CN">安装和修复硬件驱动程序</description>
    <message>Authentication is required to change hardware drivers</message>
    <message xml:lang="zh_CN">更改硬件驱动程序需要身份验证</message>
    <icon_name>com.andiora.DriverCenter</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/andiora-driver-center/driver-helper</annotate>
  </action>
</policyconfig>
