[Desktop Entry]
Type=Application
Name=Software & Updates
Comment=Configure software sources, updates, and additional drivers
Exec=software-properties-gtk
Icon=software-properties
Terminal=false
NoDisplay=true
X-AppStream-Ignore=true
Categories=Settings;
