[Desktop Entry]
Type=Application
Name[ar]=إعداد نظام أندوين
Name[da]=Andiora Opsætning
Name[de]=Andiora-Einrichtung
Name[el]=Ρύθμιση του Andiora
Name[es]=Configuración de Andiora
Name[fi]=Andiora-asetukset
Name[fr]=Configuration d'Andiora
Name[hi]=एंडुइनओएस सेटअप
Name[id]=Penyiapan Andiora
Name[it]=Configurazione di Andiora
Name[ja]=Andioraセットアップ
Name[ko]=Andiora 설정
Name[nl]=Andiora-installatie
Name[pl]=Konfiguracja Andiora
Name[pt]=Configuração do Andiora
Name[pt_BR]=Configuração do Andiora
Name[ro]=Configurare Andiora
Name[ru]=Настройка Andiora
Name[sv]=Andiora-installation
Name[th]=การติดตั้ง Andiora
Name[tr]=Andiora Kurulumu
Name[uk]=Налаштування Andiora
Name[vi]=Cài đặt Andiora
Name[zh_HK]=Andiora 設定
Name[zh_TW]=Andiora 設定
Name=Andiora Setup
Name[zh_CN]=Andiora 初始设置
Comment[ar]=أكمل إعداد Andiora الخاص بك
Comment[da]=Afslut din Andiora-oprettelse
Comment[de]=Vervollständigen Sie Ihre Andiora-Einrichtung
Comment[el]=Ολοκληρώστε τη ρύθμιση του Andiora
Comment[es]=Completa la configuración de Andiora
Comment[fi]=Viimeittele Andiora:n määritys
Comment[fr]=Terminez la configuration d'Andiora
Comment[hi]=अंडुइनओएस सेटअप को पूरा करें
Comment[id]=Selesaikan pengaturan Andiora Anda
Comment[it]=Completa la configurazione di Andiora
Comment[ja]=Andioraのセットアップを完了してください
Comment[ko]=Andiora 설정을 완료하세요
Comment[nl]=Voltooi de installatie van Andiora
Comment[pl]=Ukończ konfigurację systemu Andiora
Comment[pt]=Complete a configuração do Andiora
Comment[pt_BR]=Complete a configuração do Andiora
Comment[ro]=Finalizați configurarea Andiora
Comment[ru]=Завершите настройку Andiora
Comment[sv]=Slutför din Andiora-installation
Comment[th]=ดำเนินการตั้งค่า Andiora ให้เสร็จสิ้น
Comment[tr]=Andiora kurulumunuzu tamamlayın
Comment[uk]=Завершіть налаштування Andiora
Comment[vi]=Hoàn tất thiết lập Andiora của bạn
Comment[zh_HK]=完成您的 Andiora 設定
Comment[zh_TW]=完成您的 Andiora 設定
Comment=Complete your Andiora setup
Comment[zh_CN]=完成您的 Andiora 初始设置
Icon=andiora-oobe
Exec=andiora-oobe --oobe
Categories=Settings;System;GTK;
Terminal=false
StartupNotify=true
NoDisplay=true
X-GNOME-Autostart-enabled=true
